.solid
{
    border-style: solid groove dotted dashed;
    border-width: 20px 10px 100px 200px;
    border-color: brown blue green yellow;

}
.groover
{
    border: 5px solid red;
}
.dotted
{
    border-style: dotted;
}
.dashed
{
    border-style: dashed;
}
.double
{
    border-style: double;
}
.ridge
{
    border-style: ridge;
}
.inset
{
    border-style: inset;
}
.outset
{
    border-style: outset;
}
.none
{
    border-style: none;
}
.hidden
{
    border-style: hidden;
}